.action-user {
    padding: 8px 16px;
    cursor: pointer;
    &:hover {
        background-color: #f4f1f1;
        border-radius: 8px;
    }
    
}

.account-menu {
    border: 1px solid rgb(239, 239, 239);
    background: rgb(255, 255, 255);
    width: 240px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 12px 0px;
    border-radius: 4px;
    .account-menu__content {
        .account-menu__item {
            cursor: pointer;
            user-select: none;
            padding-left: 10px;
            &:hover {
                background-color: var(--normal-color);
            }
        }
    }
}