.product-comparison-table {
    .col-3 {
        padding: 0;
    }

    .product-comparison-table__item {
        height: 100%;
        position: relative;
        border-top: 1px solid rgb(235, 235, 240);
        border-bottom: 1px solid rgb(235, 235, 240);
        .delete-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            color: #ccc;

            &:hover {
                color: darkred;
            }
        }

        &.highlight {
            background-color: #f5f5fa;
            min-height: 430px;
        }

        .product-comparison-table__item-header {
            .item-header__product-info {
                .product-image {
                    display: flex;
                    justify-content: center;
                    img {
                        height: 100px; // Đặt kích thước phù hợp
                        width: 100px; // Đặt kích thước phù hợp
                    }
                }
                .product-text {
                    .product-name {
                        color: rgb(39, 39, 42);
                        text-align: center;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.3rem;
                        height: 3rem;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                }

                .actions {
                    display: flex;
                    justify-content: center;
                    margin-top: 4px;
                    padding: 10px;
                }
            }
        }

        .product-comparison-table__item-attributes {
            .item-atribute {
                display: flex;
                color: rgb(39, 39, 42);
                padding: 12px 0 12px 8px;
                border: 1px solid rgb(235, 235, 240);
            }
        }
    }

    .product-comparison-table__add-item {
        border: 1px solid rgb(235, 235, 240);
        height: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        svg {
            font-size: 20px !important;
            color: var(--primary-color);
        }
    }
}
