.SuggestProduct {
    .SuggestProduct_header {
        .title {
            color: rgb(39, 39, 42);
            display: flex;
            padding: 12px 16px;
            background-color: white;
            flex: 1 1 0%;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            text-transform: unset;
            border-radius: 8px 8px 0px 0px;
        }
    }
    .SuggestProduct_action {
        position: relative;
        height: 84px;
        background: white;
        margin-bottom: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);

        .active {
            background-color: var(--primary-light-color);
            border-bottom: 1px solid var(--primary-color);
            color: var(--primary-color);
            &:hover {
                background-color: var(--primary-light-color) !important;
            }
            .action_text {
                color: var(--primary-color) !important;
            }
        }
        .tab {
            &:hover {
                background-color: var(--normal-color);
                cursor: pointer;
            }
            .action_text {
                color: rgb(128, 128, 137);
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                padding-top: 4px;
                text-align: center;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                display: -webkit-box;
                word-break: break-word;
            }
            .action_icon {
                img {
                    height: 40px;
                    width: 40px;
                }
                svg {
                    height: 40px;
                    width: 40px;
                    color: var(--primary-color);
                }
            }
        }
    }
}
