.search-box {
    position: relative;
    display: flex;
    height: 38px;
    border: 1px solid rgb(221, 221, 227);
    border-radius: 8px;
    align-items: center;
    min-width: 300px;
    .input-search {
        outline: none;
        border: none;
        flex: 1;
        caret-color: var(--primary-color);
        user-select: none;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--primary-color);
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .loading-icon {
        animation: spin 2s linear infinite;
    }

    .clear-icon {
        cursor: pointer;
    }
    .me-5 {
        margin-right: 5rem !important;
    }

    &:focus-within {
        border-color: var(--primary-color);
    }

    .search-btn {
        padding: 7px 5px;
        border-radius: 8px;
        color: var(--primary-light-color);
        user-select: none;
        &:hover {
            background-color: var(--primary-light-color);
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:active {
            color: var(--primary-color);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 5px;
        right: 64px;
        width: 1px;
        border-left: 1px solid rgb(221, 221, 227);
        height: 24px;
    }
}

