.AdminLayout {
    background-color: var(--background-color);
    .AdminLayout-container {
        padding-top: 80px;
        margin: 0 auto;
        width: 1440px;
        .main {
            display: flex;
            min-height: 100vh;
            .sidebar-wrapper {
                width: 20%;
                flex: 0 0 20%;
                transition: all 0.3 ease-in-out;
                .sidebar {
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    width: 20%;
                    height: 100vh;
                    max-height: calc(100% - 70px);
                    overflow-y: scroll;
                    overflow-x: hidden;
                    position: fixed;
                    top: 70px;
                    left: 0;
                    background-color: #fff;
                    padding: 12px 15px;
                    padding-bottom: 40px;

                    ul {
                        margin-bottom: 0px;
                        .active {
                            .text {
                                color: var(--primary-color) !important;
                            }
                            color: var(--primary-color) !important;
                            svg {
                                color: var(--primary-color) !important;
                            }
                            .arrow {
                                transform: rotate(90deg);
                                transition: all 0.3 ease-in-out;
                            }
                        }
                        button {
                            color: #5e5b72 !important;
                            text-align: left;
                            justify-content: left;
                            text-transform: capitalize;
                            border-radius: 0px !important;
                            padding: 12px 15px !important;
                            align-items: center;
                            font-weight: 600;
                            color: var(--text-color) !important;
                            &:hover {
                                background-color: #f1f1f1 !important;
                            }
                            .text {
                                opacity: 0.9;
                            }
                            .icon {
                                display: flex;
                                align-items: center;
                                justify-content: baseline;
                                width: 25px;
                                height: 25px;
                                margin-right: 10px;
                                svg {
                                    color: #000;
                                    opacity: 0.8;
                                    font-size: 22px;
                                }
                            }
                            .arrow {
                                margin-left: auto;
                                display: flex;
                                align-items: center;
                                justify-content: baseline;
                                width: 25px;
                                height: 25px;
                            }
                        }
                        .submenu-wrapper {
                            display: none;
                            transition: all 0.3s ease-in-out;
                            .submenu {
                                padding: 0 45px;
                                position: relative;
                                &::before {
                                    content: '';
                                    width: 1px;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 25px;
                                    background-color: rgba(0, 0, 0, 0.2);
                                }
                                li {
                                    width: 100%;
                                    a {
                                        color: var(--text-color);
                                        display: block;
                                        padding: 6px 0px;
                                        font-size: 14px;
                                        font-weight: 500;
                                        transition: all 0.3s;
                                        &:hover {
                                            color: var(--primary-color);
                                        }
                                    }
                                }
                            }
                        }
                        .open {
                            display: block !important;
                        }
                    }
                }
            }
            .content {
                padding: 20px 30px;
                width: 80%;
                flex: 0 0 80%;
            }
        }
    }
}
