.content-home {
    border-radius: 8px;
    .img-slider-container {
        padding-bottom: 10px;
    }
    .productRow {
        display: flex;
        .item {
            width: 20%;
            height: 200px;
            padding: 0 10px;
        }
    }

    .box-banner-offers   {
        margin: 15px 0;
        img {
            border-radius: 8px;
            width: 100%;
        }
    }

    .Banner-Offer {
        .title {
            color: #1d2939;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
        }
        .box-banner {
            display: flex;
            justify-content: space-around;
            .box-banner-item {
                width: 24%;
                // padding: 15px 10px;
                padding: 10px 0;
                padding-bottom: 20px;
                img {
                    width: 100%;
                }
            }
        }
    }
}
