.content-home {
    min-height: 4000px;
    border-radius: 8px;
    .img-slider-container {
        padding-bottom: 50px;
    }
    .productRow {
        display: flex;
        .item {
            width: 20%;
            height: 200px;
            padding: 0 10px;
        }
    }
}
