.content-home {
    border-radius: 8px;
    .img-slider-container {
        padding-bottom: 10px;
    }
    .productRow {
        display: flex;
        .item {
            width: 20%;
            height: 200px;
            padding: 0 10px;
        }
    }

    .box-banner-offers   {
        margin: 15px 0;
        img {
            border-radius: 8px;
            width: 100%;
        }
    }
}
