.image-slider-section {
    height: 260px;
    background: var(--white);
    border-radius: 8px;

    .image-slider-content {
        position: relative;
        .custom-arrow {
            background-color: var(--white);
            color: var(--primary-color);
            height: 40px;
            width: 40px;
            border-radius: 50%;
            line-height: 40px;
            transform: translateY(-50%);
            justify-content: center;
            display: flex;
            align-items: center;
            position: absolute;
            top: 50%;
        }

        .custom-prev-arrow {
            z-index: 10;
            left: 0;
            margin-left: 10px;
        }

        .custom-next-arrow {
            right: 0;
            z-index: 10;
            margin-right: 10px;
        }

        .customize-item {
            border-radius: 12px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            background: var(--white);
            overflow: hidden;
            flex-shrink: 0;
            display: flex;
            box-sizing: content-box;
            height: 260px;

            img {
                width: 100%;
                height: 100%;
                opacity: 1;
            }
        }
    }
}
