.wrapper-button {
    background: #ccc;
    font-size: 14px;
    padding: 6px 16px;
    min-width: 100px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.wrapper-button.wrapper-button {
    margin-left: 10px;
}
.primary {
    background: rgb(255, 66, 78);
    border-color: var(--primary-color);
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 16px 
}

.normal {
    color: rgb(10, 104, 255);
    border-color: var(--primary-color);
    background-color: var(--white);
}

.rounded {
    color: var(--text-color);
    border-color: var(--normal-border-color);
    background-color: var(--white);
    border-radius: 20px;
    &:hover {
        background-color: var(--normal-color);
    }
}

.outline {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: transparent !important;
    &:hover {
        background-color: var(--primary-light-color) !important;
    }
}

.active {
    color: rgb(10, 104, 255);
    border-color: var(--primary-color);

}
// size
.small {
}

.medium {
    font-size: 20px !important;
}