.container-cart-item {
    display: flex;
    margin-top: 10px;
    min-height: 360px;
    color: rgb(36, 36, 36);
    text-decoration: none;
    flex-direction: column;
    border: 1px solid rgb(235, 235, 240);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    cursor: pointer;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
        z-index: 1;
    }
    .img-product {

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain
        }
    }

    .information-cart-item {
        padding-left: 7px;
        padding-top: 5px;
        .icon {
            min-height: 50px;
            .icon-top-deal,
            .icon-authentic {

                div {
                    height: 24px;
                }
                img {
                    height: 20px;
                }
            }
        }
        .title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;

            align-self: stretch;
            color: var(--Alias-Primary---On-Theme, #27272a);
            font-size: 14px;
            font-weight: 400;
            margin: 0px;
        }
        .price-and-discount-style {
            padding-bottom: 10px;
            text-align: left;
            font-size: 16px;
            line-height: 150%;
            font-weight: 600;
            color: rgb(39, 39, 42);
            margin: 0px;
            // display: flex;
            -webkit-box-align: center;
            align-items: center;
            .price {
                color: rgb(255, 66, 78);
            }
            .discount {

                padding: 0px 4px;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
            }

            .original-price {
                text-decoration-line: line-through;
            }
            .discount-rate {
                margin-right: 5px;
                border-radius: 5px;
                background-color: #ebebf0;
            }
        }
    }
}
